<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="messages" ng-show="messages">
			<div ng-repeat="message in messages | orderByPriority | reverse" ng-animate="'animate'">
				<div class="board" data-container="body" data-placement="top" data-content="..." data-trigger="hover" popuphover>
					<div class="tile pic">
						<img ng-src="http://graph.facebook.com/{{message.fbid}}/picture" alt="">
					</div>
					<div class="answer">
						<span ng-repeat="char in message.text track by $index" ng-animate="'animate'">
							<div class="tile blurred" ng-if="$index == message.text.length - 1">
								{{char}}
							</div>
							<div class="tile" ng-if="$index != message.text.length - 1">
								{{char}}
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>